/* Reset values for multiple parameters */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Tweaked values for default elements*/

body {
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    backdrop-filter: blur(15px);
    background-image: url("../img/profile/keyboardtyping.gif");
    background-position: center;
    background-size: cover;
}

main {
    background-color: #222222;
    width: auto;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 15px;
} 

img {
    border: 5px solid #3b3b3b;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

p {
    font-size: 15px;
    color: #FFFFFF
}

h1 {
    color: #FFFFFF;
    font-size: 30px;
}

ul {
    font-size: 15px;
    color: #FFFFFF;
    text-align: left;
}

a {
    color: #00fff7;
}

/* Classes that change values for specific elements */

.thin {
  line-height: 0.9;
}

.wide {
  line-height: 1.5;
}

.small {
    font-size: 10px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.listoffset {
    left: 42%;
    position: relative;
}

/* Menu bar classes */

#menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    display: inline-block;
    border-radius: 10px;
}

#menubar .menuitem {
    float: left;
}

#menubar .menuitem .menuitemcontent {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    height: 15px;
    font-size: 15px;
}

#menubar .menuitem .menuitemcontent:hover {
    background-color: #111111;
}

.menuitemimage {
    border: 0px;
    height: auto;
    width: 80px;
}                                                                                                                                                                                                                                                                                                           